<div class="container">
 <form [formGroup]="tripForm" (ngSubmit)="addTrip()" class="form-grid">
  <div class="form-row">
   <div class="form-group full-width">
    <label for="imoNumber">IMO Number:</label>
    <select id="imoNumber" formControlName="imoNumber">
     <option value="">Select Vessel</option>
     <option *ngFor="let vessel of vessels" [value]="vessel.IMO_NUMBER">{{ vessel.VESSEL_NAME }}</option>
    </select>
   </div>
  </div>
  <div class="form-row">
   <div class="form-group full-width">
    <label for="portFrom">Port From:</label>
    <select id="portFrom" formControlName="portFrom">
     <option value="">Select Port From</option>
     <option *ngFor="let port of ports" [value]="port.PORT_CODE">{{ port.PORT_NAME }}</option>
    </select>
   </div>
   <div class="form-group full-width">
    <label for="portTo">Port To:</label>
    <select id="portTo" formControlName="portTo">
     <option value="">Select Port To</option>
     <option *ngFor="let port of ports" [value]="port.PORT_CODE">{{ port.PORT_NAME }}</option>
    </select>
   </div>
  </div>

  <div formArrayName="segments">
   <div *ngFor="let segment of segments.controls; let segmentIndex = index" class="segment-row">
    <div [formGroupName]="segmentIndex" class="segment-container">
     <div class="segment-header">
      <h4>Segment {{ segmentIndex + 1 }}</h4>
      <button type="button" (click)="removeSegment(segmentIndex)" class="remove-icon red">
       <i class='bx bx-minus-circle'></i>
      </button>
     </div>

     <div formArrayName="positions" class="position-container">
      <div *ngFor="let position of segment.get('positions').controls; let positionIndex = index" class="position-row">
       <div [formGroupName]="positionIndex" class="position-input">
        <label for="lat">Latitude:</label>
        <input type="text" id="lat" formControlName="lat">
        <label for="lon">Longitude:</label>
        <input type="text" id="lon" formControlName="lon">
        <button type="button" (click)="removePosition(segmentIndex, positionIndex)" class="remove-icon red">
         <i class='bx bx-minus-circle'></i>
        </button>
       </div>
      </div>
      <button type="button" (click)="addPosition(segmentIndex)" class="add-position-btn green">
       <i class='bx bx-plus-circle'></i>
      </button>
     </div>
    </div>
   </div>
   <button type="button" (click)="addSegment()" class="add-segment-btn green">
   <i class='bx bx-plus-circle'></i>
   </button>
  </div>

  <button type="submit" class="add-trip-btn">Add Trip</button>
 </form>

 <div id="map" class="map"></div>
 <div id="position-marker" class="position-marker">
  <div id="marker-dot" class="marker-dot"></div>
  <div class="marker-pulse"></div>
 </div>
</div>