<div id="port-popup" class="ol-popup">
 <a href="#" class="ol-popup-closer" id="port-popup-closer">
  <i class="fas fa-times"></i>
 </a>
 <div class="ol-popup-content">
  <h2>{{ selectedPort?.portName }}</h2>
  <ul>
   <li><i class="fas fa-globe"></i> Port Name: {{ selectedPort?.portCode }}</li>
   <li><i class="fas fa-map-marker-alt"></i> LAT: {{ selectedPort?.latitude }}</li>
   <li><i class="fas fa-map-marker-alt"></i> LON: {{ selectedPort?.longitude }}</li>
   <li><i class="fas fa-ship"></i> Country: {{ selectedPort?.country }}</li>
  </ul>
 </div>
</div>