<div id="popup" class="ol-popup">
 <a href="#" class="ol-popup-closer" id="popup-closer">
  <i class="fas fa-times"></i>
 </a>
 <div class="ol-popup-content">
  <h2>{{ selectedVessel?.vesselName }}</h2>
  <ul>
   <li><i class="fas fa-ship"></i> IMO Number: {{ selectedVessel?.imoNumber }}</li>
   <li><i class="fas fa-tachometer-alt"></i> Speed: {{ selectedVessel?.speed }}</li>
   <li><i class="fas fa-map-marker-alt"></i> LAT: {{ selectedVessel?.latitude }}</li>
   <li><i class="fas fa-map-marker-alt"></i> LON: {{ selectedVessel?.longitude}}</li>
   <li><i class="fas fa-ship"></i> Country: {{ selectedVessel?.country }}</li>
  </ul>
 </div>
</div>