<div class="sidebar" [ngClass]="{ 'open': isSidebarOpen }">
  <div class="logo-details">
    <div class="logo_name">ShipTracking</div>
    <i class="bx bx-menu" id="btn" (click)="toggleSidebar()"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a routerLink="/maps" routerLinkActive="active">
        <i class="bx bx-map"></i>
        <span class="links_name">Map</span>
      </a>
      <span class="tooltip">Map</span>
    </li>
    <li>
      <a routerLink="/events" routerLinkActive="active">
        <i class="bx bx-calendar-event"></i>
        <span class="links_name">Events</span>
      </a>
      <span class="tooltip">Events</span>
    </li>
    <li>
      <a routerLink="/vessels" routerLinkActive="active">
        <i class="bx bxs-ship"></i>
        <span class="links_name">Vessels</span>
      </a>
      <span class="tooltip">Vessels</span>
    </li>
    <li>
      <a routerLink="/ports" routerLinkActive="active">
        <i class="bx bx-buildings"></i>
        <span class="links_name">Ports</span>
      </a>
      <span class="tooltip">Ports</span>
    </li>
    <li>
      <a routerLink="/trips" routerLinkActive="active">
        <i class='bx bx-trip'></i>
        <span class="links_name">Trip</span>
      </a>
      <span class="tooltip">Trip</span>
    </li>
    <li class="profile">
      <div class="profile-details">
        <!-- <img src="profile.jpg" alt="profileImg" /> -->
        <div class="name_job">
          <div class="name">Mohamed Karaz</div>
          <div class="job">Web designer</div>
        </div>
      </div>
      <i class="bx bx-log-out" id="log_out"></i>
    </li>
  </ul>
</div>
<section class="home-section">
  <ng-content></ng-content>
</section>