/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */
}
.ol-zoom {
  top: 2.5em;
  right: 0.5em !important;
  left: unset;
}
.ol-attribution{
  display: none !important;
}
.position-marker {
  position: relative;
  display: inline-block;
}

.marker-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.marker-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgba(255, 0, 0, 0.5);
  animation: marker-pulse 1s linear infinite;
}

@keyframes marker-pulse {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}